<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Equipment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        h2{
            color: #33bd2c;
        }
        .back-btn {
            background-color: #3498db;
            color: white;
            display: inline-block;
            text-align: center;
            margin-top: 10px;
        }

        .back-btn:hover {
            background-color: #2980b9;
        }
    </style>
</head>
<body>
    <div class="add-equipment-container">
        <h2>Add New Equipment</h2>
        <form method="POST" action="{{ url_for('add_equipment') }}">
            <label for="name">Equipment Name:</label>
            <input type="text" name="name" id="name" required>
            
            <label for="quantity">Quantity:</label>
            <input type="number" name="quantity" id="quantity" required>
            
            <label for="location_stack">Location Stack:</label>
            <input type="text" name="location_stack" id="location_stack" required>

            <label for="location_row">Location Row:</label>
            <input type="text" name="location_row" id="location_row" required>

            <label for="location_box">Location Box:</label>
            <input type="text" name="location_box" id="location_box" required>
            
            <label for="min_quantity">Minimum Quantity:</label>
            <input type="number" name="min_quantity" id="min_quantity" required>
            
            <button type="submit">Add Equipment</button>
        </form>
        <!--a class="back-link" href="{{ url_for('dashboard') }}">Back to Dashboard</a-->
        <a href="{{ url_for('dashboard') }}" class="back-btn">Back to Dashboard</a>
    </div>
</body>
</html>
